loadfont /boot/grub/fonts/font.pf2
loadfont /boot/grub/fonts/7x13.pf2

loadfont /boot/grub/fonts/dejavu-sans-12.pf2

loadfont /boot/grub/fonts/dejavu-sans-bold-12.pf2
loadfont /boot/grub/fonts/dejavu-sans-bold-14.pf2
loadfont /boot/grub/fonts/dejavu-sans-bold-18.pf2

set timeout=60
set gfxmode=800x600

insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod gfxterm
insmod png
insmod jpeg
terminal_output gfxterm

set theme=/boot/grub/theme/flush-left.txt
export theme

# insmod gfxmenu
# insmod jpeg
# terminal_output gfxterm

# search --no-floppy --fs-uuid --set=root 4fcbcb8b-8ed9-4b47-93de-2d85d67e3dd8

menuentry "%FULL_DISTRO_NAME% (%RELEASE_DATE%)" {
gfxpayload=800x600
linux /antiX/vmlinuz quiet 
initrd /antiX/initrd.gz
}

menuentry "Custom for testing" {
gfxpayload=1024x768
linux /antiX/vmlinuz quiet nomodeset norepo nosysv=MLX db+ 3
initrd /antiX/initrd.gz
}

submenu ">>> Advanced Options for $DISTRO_NAME" {

menu_color_normal=white/black
menu_color_highlight=yellow/light-gray

menuentry "%DISTRO_NAME Fast Boot" {
gfxpayload=1024x768
linux /antiX/vmlinuz quiet nomodeset norepo nosysv=LX nosavestate
initrd /antiX/initrd.gz
}

menuentry "%DISTRO_NAME% (1024x768)" {
gfxpayload=1024x768
linux /antiX/vmlinuz quiet 
initrd /antiX/initrd.gz
}

menuentry "%DISTRO_NAME (1366x768)" {
gfxpayload=1366x768
linux /antiX/vmlinuz quiet
initrd /antiX/initrd.gz
}

menuentry "%DISTRO_NAME% (800x600)" {
gfxpayload=800x600
linux /antiX/vmlinuz quiet
initrd /antiX/initrd.gz
}

menuentry "Custom for testing (1024x768)" {
gfxpayload=1024x768
linux /antiX/vmlinuz quiet nomodeset norepo nosysv=MLX db+ 3 
initrd /antiX/initrd.gz
}

menuentry "Failsafe" {
gfxpayload=keep
linux /antiX/vmlinuz quiet failsafe
initrd /antiX/initrd.gz
}

menuentry "Custom Boot (with menus)" {
gfxpayload=keep
linux /antiX/vmlinuz quiet menus
initrd /antiX/initrd.gz
}
}

if [ "${in_64_bit}" ]; then
menuentry "Memory Test (64-bit UEFI)" {
chainloader /boot/uefi-mt/mtest-64.efi
}
else
menuentry "Memory Test (32-bit UEFI)" {
chainloader /boot/uefi-mt/mtest-32.efi
}
fi


